@CHARSET "UTF-8";
body {
    font:11px verdana, arial, helvetica, sans-serif;
    color:#333;
    background-color:white;
    margin:50px 0px; padding:0px; /* Need to set body margin and padding to get consistency between browsers. */
    text-align:center; /* Hack for IE5/Win */
}

h1 {
    color:#333;
    font:1.8em/1 Georgia, "Times New Roman", Times, serif;
    font-weight:900;
    font-style:italic;
}
h2 {
    color:#333;
    font:1.1em/1 Georgia, "Times New Roman", Times, serif;
    font-weight:700;
    margin:2em 0 .25em;
}
h3 {
    color:#666;
    font-size:1em;
    font-weight:800;
    margin:3em 0 .35em;
}

a {
    color:#09c;
    text-decoration:none;
    font-weight:600;
}
a:link {color:#09c;}
a:visited {color:#07a;}
a:hover {background-color:white;}

#Content {
    width:800px;
    margin:0px auto; /* Right and left margin widths set to "auto" */
    text-align:left; /* Counteract to IE5/Win Hack */
    padding:15px;
    border:1px dashed #333;
    background-color:#eee;
}

#nav, #nav li {
    float: right;
    display: inline;
    margin: 0 0 0 10px;
    padding: 0;
    color: #339;
    font-weight: bold;
}

.standard_form { margin: 1em auto 1em auto; width: 60em; padding: 1em; }
.standard_form label { font-size: 110%; color: #666; display: block; margin: 0; margin-top: 1em; }
.standard_form label.error { color: red; padding: 0; margin: 0; vertical-align: top; }
.standard_form input { width: 300px; font-size: 125%; height: 28px; font-size: 16px; padding: 7px 0 0 4px; border: 1px solid #888; font-weight: bold; }
.standard_form input.submit { width: auto; padding: .1em 1em; display: block; margin-top: 1em; font-weight: normal; font-size: 110%; }
.standard_form input.password { width: 300px; float: left; }

/* 	RESULT STYLE  */
.testresult{
	font-weight: bold;
	font-size:13px;
	font-family: arial,helvetica,san-serif;
	color:#666;
	padding:0px 0px 12px 10px;
	margin-left:10px;
	display: block;
	height:28px;
	float:left;
}
.testresult span{
	padding:10px 20px 12px 10px;
	margin: 0px 0px 0px 20px;
	display:block;
	float:right;
	white-space: nowrap;
}
.shortPass{
	background:url(images/red.png) no-repeat 0 0;
}
.shortPass span{
	background:url(images/red.png) no-repeat top right;
}
.badPass{
	background:url(images/red.png) no-repeat 0 0;
}
.badPass span{
	background:url(images/red.png) no-repeat top right;
}
.goodPass{
	background:url(images/yellow.png) no-repeat 0 0;
}
.goodPass span{
	background:url(images/yellow.png) no-repeat top right;
}
.strongPass{
	background:url(images/green.png) no-repeat 0 0;
}
.strongPass span{
	background:url(images/green.png) no-repeat top right;
}
