<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>{% block title %}Mandragora{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/htdocs/css/common.css" title="presentation styles" />
<script type="text/javascript" language="JavaScript" src="/htdocs/js/jquery/jquery-1.3.2.min.js"></script>
<script type="text/javascript" language="JavaScript" src="/htdocs/js/jquery/jquery.validate.min.js"></script>
</head>

<body>

<div id="Content">
<ul id="nav">
    <li><a href="/login">{% trans "login" %}</a></li>
	<li><a href="/register">{% trans "register" %}</a></li>
</ul>
{% block body %}
{% endblock %}
<div style="color: #FF0000;">
{% block debug %}
{% endblock %}
</div>
</div>

</body>
</html>
