{% extends 'layouts/base.html' %}

{% block body %}
<style type="text/css">
.standard_form { margin: 1em auto 1em auto; width: 60em; padding: 1em; }
.standard_form label { font-size: 110%; color: #666; display: block; margin: 0; margin-top: 1em; }
.standard_form input.text { padding: 5px; border: 1px solid #888; font-size: 110%; }
.standard_form input.submit { font-size: 120%; padding: .1em 1em; }
</style>
<form action="/login" method="POST" class="standard_form">
<label for="login">
	Login<br/>
	<input type="text" class="text" id="username_field" name="username" tabindex="1" value="" />
	<div>{{ user }}</div>
</label>
<label for="password">
	Password<br/>
	<input type="password" class="text" id="password_field" name="password" tabindex="2" value="" />
</label>
<label>
	<input type="submit" class="submit" name="submit" tabindex="3" value="Log in" />
</label>
</form>
{% endblock %}
